@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* 10/16 = 0,625 */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;

  padding: 6rem 3rem 0 3rem;
}
/* header */
.header {
  box-shadow: 0px 1px 10px 4px rgba(189, 189, 189, 1);
}
/* logo */
.header .header-logo {
  text-align: center;
  padding: 4rem 0px;
}
.header .header-logo .header-svg {
  width: 250px;
  height: 64.04px;
}
/* hero */
.header .hero {
  padding-bottom: 2rem;
}
.header .hero .hero-img {
  height: auto;
  width: 100%;
}
/* main */
.header .main {
  margin: 0 auto;
  max-width: 114rem;
}
/* info */
.header .main .info {
  text-align: center;
}
.header .main .info h1 {
  padding: 3rem 0;
  font-size: 3rem;
}
.header .main .info p {
  padding: 3rem 0;
  font-size: 2.55rem;
}
.header .main .info .info-item {
  display: inline-block;
  padding: 3rem 0;
}
.header .main .info .info-item .info-link {
  background-color: #003a8e;
  border: none;
  text-decoration: none;
  padding: 1rem 5rem;
  margin: 0 2.4rem;
  font-size: 2.6rem;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.header .main .info h2 {
  font-size: 2.55rem;
  margin: 10rem 0 3rem;
}
/* card */
.header .main .card {
  margin: 0 auto;
  max-width: 114rem;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header .main .card .card-content {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.35);
}
.header .main .card .card-content h2 {
  font-size: 1.6rem;
  padding: 1.4rem 1.8rem;
  font-weight: 800;
}
.header .main .card .card-content .card-img {
  width: 100%;
  height: 140px;
}
.header .main .card .card-content .card-btn {
  color: #003a8e;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 3rem 2rem;
  font-size: 2rem;
  font-weight: 600;
}
/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.footer .footer-social {
  grid-column: 1/10;
  grid-row: 3/4;

  display: flex;
  align-items: center;
  margin: 0 auto;
}
.footer .footer-social .footer-iten {
  list-style: none;
}
.footer .footer-social .footer-iten .footer-link svg {
  margin: 0 3rem;
  width: 45px;
  height: 45px;
}
/* p */
.footer p {
  grid-column: 1/10;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: .4rem 0;
}
/* contact */
.footer .contact {
  grid-column: 1/10;
  grid-row: 6/7;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: .4rem 0;
}
.footer .contact .contact-iten {
  list-style: none;
}
/* redirect */
.footer .redirect {
  grid-column: 1/10;
  grid-row: 7/9;
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
}
.footer .redirect .redirect-iten {
  margin: 0 1rem;
  font-size: 1.6rem;
  list-style: none;
}
.footer .redirect .redirect-iten .redirect-link {
  color: #000;
}

